:root {
  --primary-color: #2e3741;
  --accent-color: #cbebee;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --weekday-color: #8798b0;
  --day-color: #c2c7cd;
}


body, html {
  margin: 0;
  padding: 10;
  height: 100%;
}


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}




div {
  border-radius: 5px;
}


.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  height: 70px;
  margin: 10px 10px 5px 10px;
}


#currentDate {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.add-header {
  display: none;
}


#user-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 180px;
  margin-right: 10px;
  padding: 4px;
}

#name {
  font-weight: bold;
}


#logout-container {
  margin-top: 10px;
}


#logout {
  background-color: #5c67f2;
  color: white;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}


#logout:hover {
  background-color: #4a54e1;
}


.content {
  display: flex;
  width: 100%;
  flex: 1;
}


.left-column {
  width: calc(50% - 10px);
  margin: 5px 5px 10px 10px;
}


.top {
  display: flex;
  flex-direction: row;
  height: 25%;
}


.bottom {
  display: flex;
  height: 75%;
}


#add,
.review {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 25%;
  height: 100%;
  flex: 1;
}


#add {
  margin-right: 5px;
}


.review {
  margin-left: 5px;
}


.fa-solid.fa-circle-plus,
.fa-solid.fa-magnifying-glass {
  font-size: 36px;
}


.left-bottom {
  position: relative;
  background-color: #e0e0e0;
  flex: 2;
  margin-top: 10px;
  overflow-y: auto;
  max-height: 100vh;
}


#alert {
  display: none;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 10%;
  position: absolute;
  left: 25%;
  top: 10%;
  text-align: center;
  color: #eb0d0d;
  font-size: 1.5em;
}


.right-column {
  width: calc(50% - 10px);
  background-color: #d0d0d0;
  flex: 1;
  margin: 5px 10px 10px 5px;
  text-align: center;
}


#calendar {
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 2%;
 
}

#container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  width: 100%;
  padding-left: 3%;
  padding-right: 1%;
}


.weekDay,
.day,
.day.empty {
  display: inline-block;
  text-align: center;
  background-color: var(--weekday-color);
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  margin: 7px;
  line-height: 55px;
  font-weight: bold;
  vertical-align: top;
}


.day {
  background-color: var(--day-color);
  cursor: pointer;
  font-weight: lighter;
}


.day:hover {
  background-color:#a9bbd7;
}


.day.empty {
  visibility: hidden;
}


#calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5c67f2;
  color: white;


  padding: 10px 20px;
  border-radius: 5px;


  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}


#calendarHeader i {
  cursor: pointer;
  transition: color 0.3s ease;
}


#calendarHeader i:hover {
  color: #ffcc00;
}


#monthName {
  margin: 0 10px;
}


#yearNumber {
  margin: 0 10px;
}


i {
  cursor: pointer;
}


#taskForm {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 300px;
  background-color: lightgray;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  display: none;
}


#nameForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5em;
  border: 1px solid black;
  background-color: gray;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}


#dateTask,
#timeTask,
#content {
  padding: 5px;
  border: 1px solid #1a1414;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(237, 223, 223);
  margin-bottom: 10px;
  width: 60%;
  height: auto;
  text-align: center;
}


textarea {
    resize: none;
    height: 100px;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
    width: 100%; 
    background-color: rgb(237, 223, 223);
    border: 1px solid #1a1414;
    border-radius: 4px;
}


#cancel,
#addTask {
  position: absolute;
  bottom: 10%;
  width: 80px;
  height: 30px;
  border: 1px solid #1a1414;
  border-radius: 4px;
}


#cancel {
  left: 20%;
}


#addTask {
  right: 20%;
}


.current-day {
  background-color: #82ae8f;
}


.taskDisplay {
  position: relative;
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
  width: 90%;
  border: 1px solid black;
  margin-left: 0px;
  margin-top: 20px;
  font-size: 20px;
  word-wrap: break-word;
  word-break: break-all; 
  white-space: normal; 
  padding: 10px; 
  box-sizing: border-box; 
}


.toolbox {
  position: absolute;
  bottom: 2px;
  right: 2px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  padding: 2px;
  border-radius: 4px; 
}


.taskContent {
  margin-right: 50px; 
}


.fa-solid,
.fa-trash {
  margin-right: 10px;
}


.taskDone .taskContent {
  color: rgb(0, 128, 0);
  text-decoration: line-through;
  flex: 1;
}


.day.tasks-completed {
  border: 2px solid green;
}


.day.has-tasks {
  border: 2px solid red;
}

@media (max-width: 1300px) {
  #container {
  padding-left: 1%;
  padding-right: 2%;
}
}


@media (max-width: 1100px) {
  .right-column {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: #d0d0d0;
    flex: 1;
    margin: 10px;
    text-align: center;
  }

  .top {
    display: block;
  }

  #add {
    display: flex;
    width: 100%;
  }

  .left-column {
    width: 30%;
  }
  #tasksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }


  .taskDisplay {
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
  }


  #taskForm {
    width: 80%;
  }


  .review {
    display: none;
  }
 
  #container {
  padding-left: 1%;
  padding-right: 2%;
}
}



@media (max-width: 768px) {
  #info {
    display: none;
  }


  #header {
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
  #user-panel {
    width: auto;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }


  #user {
    margin-right: 5px;
  }


  #logout-container {
    margin-top: 10px;
    margin-bottom: 2px;
  }


  .add {
    display: none;
  }


  .add-header {
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }


  .review {
    display: none;
  }
  
  .left-column {
    display: none;
  }

  .right-column {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #d0d0d0;
    flex: 1;
    margin: 10px;
    text-align: center;
  }

  .right {
      display: none;
  }
  
  .left {
      display: block;
      width: 100%;
      height: 100%;
  }

  .leftDown {
      display: block;
      width: 100%;
      height: 100%;    
  }

  .rightColumn {
      display: none;
  }

  #tasksContainer, #alertDiv {
    display: flex;
    min-height: 100px;
}

#alert {
  top: 20px;
  font-size: 1rem;
}
 

  .fa-regular.fa-calendar-days {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
  }

  #toCalendar {
      width: 36px;
      height: 36px;
      display: block;
      position: absolute;
      right: 100px;
      top: 50%;
      transform: translateY(-50%);
  }

  #calendar {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0px;
  }


  #calendarHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5c67f2;
    color: white;
    border-radius: 5px;


    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }


  #container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    width: 100%;
  }


  .weekDay,
  .day,
  .day.empty {
    width: 80%; 
    height: calc((100vw - 4px * 7) / 7); 
    border: 1px solid #000;
    font-size: calc((100vw - 4px * 7) / 20);
    line-height: calc((100vw - 4px * 7) / 7);
  }
 
  #taskForm {
    width: 80%;
  }
}